body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  font-weight: 500;
  color: #222222;
}

a {
  text-decoration: none;
  color: #3b82f6;
}

a:hover {
  color: #1d4ed8;
}

#navbar {
  padding: 8px;
  margin: 0;
}

#banner {
  object-fit: cover;
}


h1 {
    text-align: center;
}

#banner {
   width: 100%; 
}

#about {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}

#description {
  width: 50%;
  padding-right: 8px;
}

#team {
  width: 50%;
}

#team-image {
  border-radius: 10px;
  width: 100%;
}

#jobs-table {
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse;
}

#jobs-table tr:nth-child(odd) {
  background-color: #EFF6FF;
}

.jobs-header-row th {
  padding: 8px;
  text-align: center;
  border: 1px solid grey;
  background-color: #93c5fd;
  color: #222222;
}

.jobs-data-row td {
  border: 1px solid grey;
  padding: 8px;
}

.location {
  color: gray;  
  margin-bottom: 16px;
}

h2 {
  text-align: center;
}

#jobs {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}

h3 {
  margin-bottom: 4px;
  margin-top: 0;
}

.apply {
  float: right;
}

#application {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.form-group {
  margin: 10px;
}

#application-form label {
 font-weight: 500; 
}

#application-form input, select, textarea {
  padding: 3px;
  font-size: 1em;
  margin-top: 5px;
  border-radius: 7px;
  border: 1px solid grey;
}

.form-group textarea {
  width: 80%;
}

.form-group input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.form-group input[type="submit"] {
  background-color: #1d4ed8;
  color: #EFF6FF;
  font-weight: 500;
  cursor: pointer;
  border: none;
  width: 10em;
  height: 2em;
}

.form-group input[type="submit"] :hover {
  background-color: #93c5fd;
}

#footer {
  background-color: #FAFAFA;
  padding: 8px;
  margin-top: 32px;
  text-align: center;
}

#footer-links {
  list-style: none;  
}

#footer-links li {
  display: inline;
  margin: 0 16px;
}

.copyright {
  color: #6b7280;
}


